/* incializar estilos globales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}


.contenedor,
.contenedor-padre,
.contenedor-scroll
.contenedor-zindex {
    border: 2px solid black;
    margin: 20px 0;
    padding: 10px;
}
.caja,
.hijo-absolute,
.elemento-fixed,
.capa {
    border: 1px solid red;
    padding: 10px;
}


.caja-relative{
    position: relative;
    top: 20px; 
    left: 30px;
}

.contenedor-padre {
    position: relative;
    top: 100px;

}